@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lobster|Lora');

$animationDuration: 10s;

//////////////////////////////////////
//  Vertical Book Sale Animations   //
/////////////////////////////////////
@keyframes slideBooksOnOff {
    0%   {left: 400px;}
    20%  {left: 0; top: 0;}
    70%  {left: 0; top: 0;}
    100% {left: 0; top: 600px;}
}

@keyframes bookSaleColorShadow{
    0%   {background-color: transparent;}
    40%  {background-color: transparent;}
    50%  {background-color: #c0b0a5; box-shadow: 2px 1px 8px 0px rgba(85,85,85,0.3);}
    100% {background-color: #c0b0a5; box-shadow: 2px 1px 8px 0px rgba(85,85,85,0.3);}
}

@keyframes displayBookSaleContent{
    0%   {visibility: hidden;}
    40%  {visibility: hidden;}
    50%  {visibility: visible;}
    100% {visibility: visible;}
}

//////////////////////////////////////
//    Vertical Book Sale Styles     //
/////////////////////////////////////

#bookSaleSection{
    display: none;
    float: right;
    width: 200px;
    margin: 0 4% 0 0;
}

#bookSale{
    width: 100%;
    margin: auto 0 auto auto;
    color: #30221d;
    text-align: center;
    height: 600px;
    border-radius: 3px;
    z-index: -3;
    overflow: hidden;
    background-color: transparent;
    animation-name: bookSaleColorShadow;
    animation-duration: $animationDuration;
    animation-fill-mode: forwards;
    animation-delay: 5.5s;
    
    #bookSaleText{
        position: relative;
        font-family: 'Lora', serif;
        
        #bookSaleHeader{
            font-size: 33px;
            position: absolute;
            text-align: center;
            top: 20px;
            width: 100%;
            visibility: hidden;
            animation-name: displayBookSaleContent;
            animation-duration: $animationDuration;
            animation-fill-mode: forwards;
            animation-delay: 5.5s;
        }
        
        #bookSalePrices{
            text-align: left;
            width: 100%;
            position: absolute;
            padding: 15px;
            top: 170px;
            font-size: 18px;
            line-height: 35px;
            text-align: center;
            color: #c0b0a5;
            background-color: #30221d;
            box-shadow: 2px 1px 8px 0px rgba(85,85,85,0.3);
            visibility: hidden;
            animation-name: displayBookSaleContent;
            animation-duration: $animationDuration;
            animation-fill-mode: forwards;
            animation-delay: 5.5s;
        }
        
        #bookSaleDates{
            position: absolute;
            width: 100%;
            top: 440px;
            font-size: 25px;
            visibility: hidden;
            animation-name: displayBookSaleContent;
            animation-duration: $animationDuration;
            animation-fill-mode: forwards;
            animation-delay: 5.5s;
        }
    }
    
    img{
        padding: 0;
        position: relative;
        left: 400px;
        height: 6.66%;
        width: 100%;
    }
    
    
/********************   
  Vertical Book Image Animation Calls 
********************/
    
    #cranford2{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.1s;
    }

    #sensibility2{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.2s;
    }

    #wuthering2{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.3s;
    }

    #expectations2{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.4s;
    }

    #bovary2{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.5s;
    }

    #dorian{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.6s;
    }

    #eyre{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.7s;
    }

    #punishment{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.8s;
    }

    #prejudice{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.9s;
    }

    #durbervilles{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.0s;
    }

    #cranford{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.1s;
    }

    #sensibility{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.2s;
    }

    #wuthering{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.3s;
    }

    #expectations{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.4s;
    }

    #bovary{
        animation-name: slideBooksOnOff;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.5s;
    }


}

////////////////////////////////////////
//  Horizontal Book Sale Animations   //
///////////////////////////////////////

@keyframes bookFall {
    0%   {bottom: 250px;}
    30%  {bottom: 0px;}
    70%  {bottom: 0px;}
    100% {bottom: -250px;}
}

@keyframes horizontalSaleColorShadow{
    0%   {background-color: transparent;}
    40%  {background-color: transparent;}
    50%  {background-color: #c0b0a5; box-shadow: 2px 1px 8px 0px rgba(85,85,85,0.3);}
    100% {background-color: #c0b0a5; box-shadow: 2px 1px 8px 0px rgba(85,85,85,0.3);}
}

@keyframes horizontalBookSaleContent{
    0%   {visibility: hidden;}
    40%  {visibility: hidden;}
    50%  {visibility: visible;}
    100% {visibility: visible;}
}

/////////////////////////////////////
//   Horizontal Book Sale Styles   //
////////////////////////////////////

#horizontalBookSale{
    display: none;
    height: 200px;
    width: 600px;
    background-color: aliceblue;
    clear: both;
    margin: auto auto 4% auto;
    z-index: -3;
    overflow: hidden;
    position: relative;
    font-family: 'Lora', serif;
    background-color: transparent;
    color: #30221d;
    text-align: center;
    animation-name: horizontalSaleColorShadow;
    animation-duration: $animationDuration;
    animation-fill-mode: forwards;
    animation-delay: 6.2s;
    
    #horizontalSaleHeader{
        position: absolute;
        font-size: 30px;
        text-align: center;
        margin: auto;
        width: 100%;
        visibility: hidden;
        animation-name: horizontalBookSaleContent;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 6.2s;

    }
    
    #horizontalSalePrices{
        position: absolute;
        width: 100%;
        top: 65px;
        font-size: 21px;
        text-align: center;
        visibility: hidden;
        animation-name: horizontalBookSaleContent;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 6.2s;
    }
    
    #horizontalSaleDates{
        position: absolute;
        width: 100%;
        top: 140px;
        font-size: 35px;
        text-align: center;
        visibility: hidden;
        animation-name: horizontalBookSaleContent;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 6.2s;
    }

    img{
        position: relative;
        bottom: 500px;
        height: 20%;
        width: 196px;
    }

/********************   
  Horizontal Book Image Animation Calls 
********************/
    
//    Row 1
    #cranford2{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.0s;
    }

    #sensibility2{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.15s;
    }

    #wuthering2{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.3s;
    }

//    Row 2
    #expectations2{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.45s;
    }

    #bovary2{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.6s;
    }

    #dorian{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.75s;
    }

//    Row 3
    #eyre{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 4.9s;
    }

    #punishment{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.05s;
    }

    #prejudice{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.2s;
    }

//    Row 4
    #durbervilles{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.35s;
    }

    #cranford{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.5s;
    }

    #sensibility{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.65s;
    }

//    Row 5
    #wuthering{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.8s;
    }

    #expectations{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 5.95s;
    }

    #bovary{
        animation-name: bookFall;
        animation-duration: $animationDuration;
        animation-fill-mode: forwards;
        animation-delay: 6.1s;
    }
    
}

@media screen and (min-width: 617px) and (max-width: 1158px) {
    #horizontalBookSale{
        display: block;
    } 
}

@media screen and (min-width: 1159px) {
    #horizontalBookSale{
        display: none
    }
    
    #bookSaleSection{
        display: block;
    }
}