@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lobster|Lora');


///////////////////////////////
//      General Styles      //
//////////////////////////////

* {
    box-sizing: border-box;
}

body, html{
    height: 100%;
    background-image: url("images/ricepaper2/ricepaper2.png");
    background-repeat: repeat;
}


///////////////////////////////
//       Header Styles      //
//////////////////////////////

#header{
    text-align: center;
    
    #mainHeaderText{
        font-family: 'Lobster', cursive;
        font-size: 70px;
        margin: 0;
        text-align: center;
    }
    
    #logo{
        height: 98px;
        width: 98px;
        float: left;
        display: inline;
        position: relative;
        right: 0;
    }
    
    #headerImage{
        width: 100%;
        height: 475px;
        background: url(images/library.jpg);
        background-size: cover;
        margin: 30px auto 30px auto;
    }
    
    #searchBar{
        width: 518px;
        padding: 25px 60px;
        margin: auto;
        position: relative;
        top: 120px;
        background-color: rgba(30, 30, 30, 0.5);
        
        #searchBarHeading{
            font-size: 26px;
            color: #F5F5F5;
            margin-bottom: 10px;
        }
        
        .input-group-field{
            height: 35px;
            margin-right: 5px;
        }
        
        .button{
            background-color: rgb(0, 149, 255);
        }
        
        .button:hover{
            background-color: rgb(0, 119, 204);
        }
    }
}


///////////////////////////////
//   Events Section Styles   //
//////////////////////////////

#eventsSection{
    float: left;
    width: 20%;
    background-color: #e6e6e6;
    margin: 0 0 4% 4%;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 2px 1px 8px 0px rgba(85,85,85,0.3);
    
    #eventsHeader{
        font-size: 28px;
        margin-bottom: 25px;
        font-weight: bold;
    }
    
    .eventItem{
        margin-bottom: 30px;
    }
    
     .blueBalls{
        background-color: #0095ff;
        width: 52px;
        border-radius: 26px;
        text-align: center;
        font-size: 15px;
        color: white;
        padding: 5px;
    }
    
    .eventInformation{
        font-size: 16px;
        margin-left: 0;
        
        a{
            font-size: 20px;
            color: rgb(0, 149, 255);
        }
        
        a:hover{
            text-decoration: underline;
        }
    }
}


///////////////////////////////
//    Main Section Styles    //
//////////////////////////////

#mainSection{
    float: left;
    width: 71%;
    margin: 0 1% 4% 1.5%;
        
    .large-5{
        box-shadow: 2px 1px 8px 0px rgba(85,85,85,0.3);
        text-align: center;
        font-size: 25px;
        padding: 50px 25px 50px 25px;
        border-radius: 3px;
        margin-bottom: 20px;
        margin-right: 3%;

        img{
            display: block;
            margin: auto;
        }
    }  
}


///////////////////////////////
//       Footer Styles      //
//////////////////////////////

#footer{
    padding-top: 50px;
    padding-bottom: 50px;
    clear: both;
    text-align: left;
    background-color: #e6e6e6;
    
    #libraryHours{
        font-size: 14px;
        line-height: 28px;
        
        a{
            font-size: 18px;
            color: #0095ff;
        }
        
        a:hover{
            text-decoration: underline;
        }
        
        .boldText{
            font-weight: bold;
    
        }
    }
    
    #socialMediaIcons{
        margin: 50px auto auto auto;
        text-align: center;
    
        .fa {
            padding: 20px;
            width: 70px;
            font-size: 30px;
            text-align: center;
            text-decoration: none;
            margin-right: 15px;
        }
        
        .fa:hover {
            opacity: 0.7;
        }

        /* Facebook */
        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        /* Twitter */
        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        /* Instagram */
        .fa-instagram {
          background: #125688;
          color: white;
        }

        /* Snapchat */
        .fa-snapchat-ghost {
          background: #fffc00;
          color: white;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        /* Youtube */
        .fa-youtube {
          background: #bb0000;
          color: white;
        }
    }
}



///////////////////////////////
//       Media Queries      //
//////////////////////////////

@media screen and (min-width: 542px) {
    #mainHeaderText{
        margin: auto auto auto 37px;
    }
    
    #headerImage{
        display: none;
    }
}

@media screen and (min-width: 1159px) {
    #mainSection{
        width: 49%;
    }
}



/* Small only     639px */
@media screen and (max-width: 39.9375em) {}

/* Medium and up     640px */
@media screen and (min-width: 40em) {}

/* Medium only     640px - 1023px */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up     1023px */
@media screen and (min-width: 64em) {}

/* Large only     1023px - 1199px */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
