@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Lobster|Lora");
* {
  box-sizing: border-box; }

body, html {
  height: 100%;
  background-image: url("images/ricepaper2/ricepaper2.png");
  background-repeat: repeat; }

#header {
  text-align: center; }
  #header #mainHeaderText {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    margin: 0;
    text-align: center; }
  #header #logo {
    height: 98px;
    width: 98px;
    float: left;
    display: inline;
    position: relative;
    right: 0; }
  #header #headerImage {
    width: 100%;
    height: 475px;
    background: url(images/library.jpg);
    background-size: cover;
    margin: 30px auto 30px auto; }
  #header #searchBar {
    width: 518px;
    padding: 25px 60px;
    margin: auto;
    position: relative;
    top: 120px;
    background-color: rgba(30, 30, 30, 0.5); }
    #header #searchBar #searchBarHeading {
      font-size: 26px;
      color: #F5F5F5;
      margin-bottom: 10px; }
    #header #searchBar .input-group-field {
      height: 35px;
      margin-right: 5px; }
    #header #searchBar .button {
      background-color: #0095ff; }
    #header #searchBar .button:hover {
      background-color: #0077cc; }

#eventsSection {
  float: left;
  width: 20%;
  background-color: #e6e6e6;
  margin: 0 0 4% 4%;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3); }
  #eventsSection #eventsHeader {
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: bold; }
  #eventsSection .eventItem {
    margin-bottom: 30px; }
  #eventsSection .blueBalls {
    background-color: #0095ff;
    width: 52px;
    border-radius: 26px;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 5px; }
  #eventsSection .eventInformation {
    font-size: 16px;
    margin-left: 0; }
    #eventsSection .eventInformation a {
      font-size: 20px;
      color: #0095ff; }
    #eventsSection .eventInformation a:hover {
      text-decoration: underline; }

#mainSection {
  float: left;
  width: 71%;
  margin: 0 1% 4% 1.5%; }
  #mainSection .large-5 {
    box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
    text-align: center;
    font-size: 25px;
    padding: 50px 25px 50px 25px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 3%; }
    #mainSection .large-5 img {
      display: block;
      margin: auto; }

#footer {
  padding-top: 50px;
  padding-bottom: 50px;
  clear: both;
  text-align: left;
  background-color: #e6e6e6; }
  #footer #libraryHours {
    font-size: 14px;
    line-height: 28px; }
    #footer #libraryHours a {
      font-size: 18px;
      color: #0095ff; }
    #footer #libraryHours a:hover {
      text-decoration: underline; }
    #footer #libraryHours .boldText {
      font-weight: bold; }
  #footer #socialMediaIcons {
    margin: 50px auto auto auto;
    text-align: center;
    /* Facebook */
    /* Twitter */
    /* Instagram */
    /* Snapchat */
    /* Youtube */ }
    #footer #socialMediaIcons .fa {
      padding: 20px;
      width: 70px;
      font-size: 30px;
      text-align: center;
      text-decoration: none;
      margin-right: 15px; }
    #footer #socialMediaIcons .fa:hover {
      opacity: 0.7; }
    #footer #socialMediaIcons .fa-facebook {
      background: #3B5998;
      color: white; }
    #footer #socialMediaIcons .fa-twitter {
      background: #55ACEE;
      color: white; }
    #footer #socialMediaIcons .fa-instagram {
      background: #125688;
      color: white; }
    #footer #socialMediaIcons .fa-snapchat-ghost {
      background: #fffc00;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
    #footer #socialMediaIcons .fa-youtube {
      background: #bb0000;
      color: white; }

@media screen and (min-width: 542px) {
  #mainHeaderText {
    margin: auto auto auto 37px; } }
@media screen and (min-width: 1159px) {
  #mainSection {
    width: 49%; } }
/* Small only     639px */
/* Medium and up     640px */
/* Medium only     640px - 1023px */
/* Large and up     1023px */
/* Large only     1023px - 1199px */

/*# sourceMappingURL=mainStyles.css.map */
