#menuToggle {
  display: inline-block;
  padding: 17px;
  margin: 15px 25px 10px 0;
  background-color: rgba(246, 242, 238, 0);
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  float: right;
  transform: scale(2.5, 2.5); }

#offCanvas {
  background-color: rgba(246, 242, 238, 0.9);
  box-shadow: inset -13px 0 20px -13px rgba(10, 10, 10, 0.25); }

/*# sourceMappingURL=navigationBarStyles.css.map */
